.container-main-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -------------------------------------------- */
.container-banner-about {
    width: 100%;
    background-color: #fff;
}

.title-about {
    font-size: 2rem;
    font-family: "Rajdhani", sans-serif;
    margin-top: 5px;
}

.title-line {
    width: 62px;
    border: 2px solid #f5cd10;
}

.image-banner-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 52% 95%, 0 70%);
}

.img-motorcicle {
    width: 100%;
    height: 100%;
}

.text-banner-about {
    width: 100%;
    background-color: #fff;
    padding: 0 30px 40px;
    font-family: "Rubik", sans-serif;
}

.text-about {
    font-size: 1.2rem;
    margin: 22px 0 0;
}
.icons-info-values {
    border-top: 8px solid black;
}
.title-values {
    color: #000;
    padding: 30px 0 20px;
    text-align: center;
    font-family: "Rajdhani", sans-serif;
}
@media (min-width: 1200px) {
    .container-banner-about {
        flex-direction: row;
        height: 400px;
        background-color: #f2f2f2;
    }

    .container-banner-about {
        position: relative;
        width: 100%;
    }
    .title-about {
        font-size: 2rem;
        margin-top: 50px;
    }

    .image-banner-container {
        height: 100%;
        margin-top: 5px;
    }

    .text-banner-about {
        box-shadow: 0 0rem 1rem rgba(1, 1, 1, 0.13);
        position: absolute;
        top: 5px;
        width: 60%;
        height: 99%;
        clip-path: polygon(0% 0%, 75% 0%, 84% 49%, 75% 100%, 0% 100%);
    }

    .text-about {
        padding: 0px 140px 0 0;
    }

    .image-banner-container {
        clip-path: none;
    }

    .img-motorcicle {
        width: 60%;
    }
}
