.container-main-contact {
    display: flex;
    flex-direction: column;
    /* font-family: "Rubik", sans-serif; */
    font-family: "Rajdhani", sans-serif;
}

.box-text-contact {
    width: 90%;
    margin: 10px auto;
    font-family: "Rubik", sans-serif;
}

.title-contact {
    font-size: 2rem;
    margin-top: 25px;
}

.title-line-contact {
    width: 63px;
    border: 2px solid #f5cd10;
}

.box-subtitle {
    margin-top: 30px;
    display: grid;
    gap: 12px;
}

.box-form-contact {
    width: 100%;
    margin: 40px auto;
    padding: 10px;
    border-radius: 7px;
}

form {
    margin: 0 auto 15px;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    height: 100%;
    font-family: "Rubik", sans-serif;
    border: 1px solid rgb(219, 210, 210);
    padding: 20px;
}

.box-input-label {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input,
textarea,
.btn {
    border: none;
    outline: none;
    border: 1px solid rgb(150, 141, 141);
}

input {
    padding: 10px;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: none;
    overflow-wrap: break-word;
    vertical-align: top;
    padding: 16px;
    border-radius: 4px;
    height: 100%;
}

.btn-contact {
    padding: 6px;
    background-color: #2b2828;
    color: #fff;
    border-radius: 4px;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    border: none;
    margin-top: 5px;
    width: 50%;
    cursor: pointer;
}
.btn-contact:hover {
    background-color: #333;
}

@media (min-width: 750px) {
    .container-main-contact {
        flex-direction: row;
        width: 85%;
        margin: 0 auto;
    }

    .title-contact {
        margin-top: 25px;
        font-size: 2.2rem;
    }

    .box-text-contact {
        width: 75%;
        margin-top: 100px;
        font-size: 1.3rem;
    }

    .box-form-contact {
        height: 90%;
    }

    .box-input-label label {
        font-size: 1.1rem;
    }
}
