.container-main-contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* gap: 20px; */
}

.box-text-contact {
    width: 90%;
    margin: 10px auto;
}

.title-contact {
    margin-top: 25px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.title-line-contact {
    width: 63px;
    border: 2px solid #f5cd10;
}

.box-subtitle {
    /* background-color: #f5cd10; */
    margin-top: 30px;
    display: grid;
    gap: 10px;
    /* text-align: center; */
}

.box-form-contact {
    height: 65%;
    /* padding: 7px 0 15px; */
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid rgb(240, 235, 235); */
    /* margin: 20px 0 40px; */
    padding: 20px;
    border-radius: 7px;
}

form {
    margin: 0 auto 15px;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    height: 100%;
    font-family: "Oswald", sans-serif;
    border: 1px solid rgb(238, 229, 229);
    padding: 30px 50px;
}

.box-input-label {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input,
textarea,
.btn {
    border: none;
    outline: none;
    border: 1px solid rgb(163, 155, 155);
}

input {
    padding: 10px;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: none;
    overflow-wrap: break-word;
    vertical-align: top;
    padding: 16px;
    border-radius: 4px;
    height: 100%;
}

.btn {
    padding: 5px;
    background-color: #2b2828;
    color: #fff;
    border-radius: 4px;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    margin-top: 5px;
    width: 50%;
    cursor: pointer;
}
.btn:hover {
    background-color: #333;
    color: lightgray;
}

@media (min-width: 750px) {
    .container-main-contact {
        flex-direction: row;
        height: 78vh;
        width: 90%;
        margin: 0 auto;
    }

    .title-contact {
        margin-top: 25px;
        font-size: 1.7rem;
        text-transform: uppercase;
    }

    .subtitle-contact {
        font-size: 1.8rem;
    }

    .box-subtitle h6 {
        font-size: 1.2rem;
    }
    .box-text-contact {
        width: 50%;
        margin-top: 100px;
        font-size: 1.3rem;
    }

    .box-form-contact {
        margin-top: 30px;
        height: 90%;
    }

    .box-input-label label {
        font-size: 1.1rem;
    }
}
