.contact-view {
  height: 100vh;
}




.container-main-contact {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  height: 82vh;

}

form {
  width: 300px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 8px;
  gap: 10px;
  color: white;
}

input {
  padding: 5px;
}

textarea {
  height: 100px;
  resize: none;
  overflow-wrap: break-word;
  vertical-align: top;
  padding: 10px;
}



@media (min-width:700px){
  .container-main-contact {
    height: 80vh;
  }
}