.home-view{
  background-color: white;
  width: 390px;
  height: 844px;
}
.container-main-home{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* padding-top: 2%; */
}
.home-title{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-left: 15%;
  padding-right: 3%;
  /* border: 10px solid blue; */
}
.container-img-motobike {
  display: flex;
  /* border: 10px solid black; */
  margin-left: 0;
  width: 63%;
  height: 58%;
  gap: 5%;
}
.img-gasket-home-movil{
  position: absolute;
  margin-left: 57%;
}

.container-HalElipse-movil{
  /* border: 2px solid blue; */
  background-color: blue;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -200px;
  z-index: 2;
}
.container-contact-list{
  /* border: 2px solid sandybrown; */
  height: 15%;
  position: absolute;
  margin-top: 60%;
}

.footer-movil{
  background-color: #F5CD10;
  height: 55px;
  width: 390px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: -3.5%;
}
.black-rectangle-left,.black-rectangle-right{
  height: 100%;
  width: 20%;
  background-color: black;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(20deg);

}

.footer-text{
  width: 50%;
  font-size: small;
  text-align: center;
  font-weight: bold;
  padding: 1.5%;
}
.container-whatsapp-icon{
  /* background-color: black; */
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin-top: -6%;
}



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
