.header {
    box-shadow: 0 0rem 1rem rgba(1, 1, 1, 0.13);
    display: grid;
    place-items: center;
}

/* -------------------------------- Main------------------------/ */
.home-text-box {
    width: 65%;
    margin: 10px auto;
    text-align: center;
}

.home-title1 {
    text-align: center;
    margin: 80px 0 10px;
}
.home-title2 {
    /* padding: 5px 28px 0; */
    margin: 50px 30px 20px;
    font-family: "Rubik", sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

.home-text {
    padding: 15px 0;
    font-size: 1.3rem;
    text-align: center;
    font-family: "Rubik", sans-serif;
}
/* ------------------------------------- */

.contant-products-home {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f2f2f2;
    padding: 30px 0 50px;
}

.container-images-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 100%;
    margin: 0 auto;
    padding: 100px 100px 80px;
    gap: 170px;
}

.subtitle-products-home {
    font-family: "Rubik", sans-serif;
    font-size: 1.8rem;
    padding-top: 15px;
}
.title-line-products {
    text-align: center;
    width: 120px;
    border: 2px solid #f5cd10;
    margin: 0 auto;
}
.box-img {
    transform: scale(2);
    transition: transform 1s ease;
    width: 100%;
    max-width: 300px;
}

.img-home {
    width: 100%;
    /* height: 100%; */
    background-color: #fff;
    border-radius: 14px;
}
.img-home-accesorios {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 14px;
}

.text-image {
    font-family: "Teko", sans-serif;
    font-size: 1.5rem;
}

.text-image-accesorios {
    text-align: end;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: "Teko", sans-serif;
}
.box-img:hover {
    transform: scale(1.1);
}
/* ----------------------------------------------------------------------------- */

.btn-home {
    background-color: white;
    color: #000;
    font-size: 0.7rem;
    border: 1px solid #f5cd10;
    padding: 5px 20px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    font-weight: bold;
}
/* ---------------------------------------------------------------------------- */

.icons-info {
    background-color: #131212;
}

.title-Icon {
    color: #fff;
    padding: 40px 0 0;
    font-family: "Rubik", sans-serif;
    text-align: center;
}
/* Icono de WhatsApp - Efecto de rotación parcial y respiración */
.container-whatsapp-icon {
    z-index: 2;
    width: 60px;
    position: fixed;
    bottom: 18%;
    right: 0%;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    animation: breatheAndRotate 5s ease-in-out infinite;
    cursor: pointer;
}

@keyframes breatheAndRotate {
    0%,
    100% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) rotate(90deg) scale(1.2);
    }
}

.icon-messeger {
    position: fixed;
    bottom: 15%;
    right: 32px;
    background-color: #242323d8;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    font-size: 2.7rem;
    cursor: pointer;
}

@media (min-width: 850px) {
    .container-images-products {
        flex-direction: row;
    }

    .img-home-accesorios {
        height: 225px;
        max-height: 225px;
    }

    .home-title2 {
        margin: 55px 0 15px;
        font-size: 2.5rem;
    }

    .home-text {
        margin-bottom: 40px;
    }
    .subtitle-products-home {
        font-size: 2.4rem;
    }
}

@media (min-width: 1200px) {
    .container-images-products {
        flex-direction: row;
        gap: 0;
    }
}
