.home-view{
  background-color: white;
  min-height: 100vh;
}
.container-main-home{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}
.container-span-mobile{
  /* padding: 3%; */
  text-align: center;
}
header{
border-bottom: 4px solid #F5CD10;
}
.home-title{
  font-size: 1.5em;
  font-weight: bold;
  padding: 1%;
}
.container-images-home-mobile{
  /* background-color: blueviolet; */
  /* border: 3px solid black; */
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.container-img-motobike {
  display: flex;
  /* border: 10px solid black; */
  width: 63%;
  height: 58%;
}
.img-gasket-home-movil{
  width: 40%;
  height: 50%;
}
.elipse-contact-information-home{
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  margin-top: -200px;
  position: relative;
}
.container-contact-list{
  /* border: 2px solid sandybrown; */
  position: absolute;
  width: 220px;
  top: 55%;
  z-index: 3;
}
.container-whatsapp-icon{
  /* background-color: black; */
  display: flex;
  position: absolute;
  justify-content: flex-end;
  bottom: 0;
}
.whatsapp-logo-home{
  height: 72%;
  width: 72%;
  z-index: 4;
}
.footer-movil{
  background-color: #F5CD10;
  height: 7%;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
}
.black-rectangle-left,.black-rectangle-right{
  height: 100%;
  width: 20%;
  background-color: black;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(20deg);

}

.footer-text{
  width: 50%;
  font-size: 0.9em;
  text-align: center;
  font-weight: bold;
  padding: 1.5%;
}




/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
