.header {
    box-shadow: 0 0rem 1rem rgba(1, 1, 1, 0.13);
    display: grid;
    place-items: center;
}

/* -------------------------------- Main------------------------/ */
.home-text-box {
    width: 65%;
    margin: 10px auto;
    text-align: center;
}

.home-title1 {
    text-align: center;
    margin: 80px 0 10px;
}
.home-title2 {
    margin: 50px 30px 20px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
}

.home-text {
    padding: 15px 0;
    font-size: 1.3rem;
    text-align: center;
    font-family: "Rubik", sans-serif;
}

.contant-products-home {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px 0 50px;
    background-color: #f6f3f3;
}

.container-images-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 100px 100px 80px;
    gap: 170px;
}

.subtitle-products-home {
    font-family: "Rajdhani", sans-serif;
    font-size: 1.8rem;
    color: #000;
}
.title-line-products {
    text-align: center;
    width: 120px;
    border: 2px solid #f5cd10;
    margin: 0 auto;
}
.box-img {
    transform: scale(2);
    transition: transform 1s ease;
    width: 100%;
    max-width: 300px;
}

.img-home {
    width: 100%;
    border-radius: 7px;
    padding: 10px 10px 25px;
    border: 1px solid rgb(128, 126, 126);
    position: relative;
}
.img-home-accesorios {
    width: 100%;
    padding: 10px 10px 25px;
    height: auto;
    border-radius: 7px;
    border: 1px solid rgb(128, 126, 126);
}

.text-image {
    font-family: "Teko", sans-serif;
    font-size: 1.5rem;
}

.text-image-accesorios {
    text-align: end;
    padding: 10px 20px;
    font-family: "Teko", sans-serif;
}
.box-img:hover {
    transform: scale(1.1);
}

.btn-home {
    position: absolute;
    background-color: #000000ee;
    color: #fff;
    font-size: 0.8rem;
    border: none;
    padding: 4px 12px;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    bottom: -5%;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    transition: 0.9s;
}

.btn-home:hover {
    box-shadow: inset 0 0 0 2em #f6f3f3;
    color: #000;

    cursor: pointer;
}

.title-Icon {
    color: #000;
    padding: 40px 0 0;
    font-family: "Rajdhani", sans-serif;
    text-align: center;
    font-size: 2.3rem;
}
/* Icono de WhatsApp - Efecto de rotación parcial y respiración */
.container-whatsapp-icon {
    z-index: 2;
    width: 60px;
    position: fixed;
    bottom: 18%;
    right: 0%;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    animation: breatheAndRotate 5s ease-in-out infinite;
    cursor: pointer;
}

@keyframes breatheAndRotate {
    0%,
    100% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) rotate(90deg) scale(1.2);
    }
}

.icon-messeger {
    position: fixed;
    bottom: 15%;
    right: 32px;
    background-color: #242323d8;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    font-size: 2.7rem;
    cursor: pointer;
}

@media (min-width: 850px) {
    .container-images-products {
        flex-direction: row;
    }

    .img-home-accesorios {
        height: 245px;
    }

    .home-title2 {
        margin: 55px 0 15px;
        font-size: 2.5rem;
    }

    .home-text {
        margin-bottom: 40px;
    }
    .subtitle-products-home {
        font-size: 2.4rem;
    }
}

@media (min-width: 1200px) {
    .container-images-products {
        flex-direction: row;
        gap: 0;
    }
}
