.products-view{
 height: 100vh;
}

.container-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.container-products h1 {
  font-size: 25px;
  font-weight: 500;
  margin: 20px;
  text-align: center;
  border-bottom: 2px solid #F5CD10;
}

.container-products-by-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media (min-width: 750px) {
  .container-products-by-type {
    /* background-color: red; */
    flex-direction: row;
    width: 800px;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
  }
}