.container-card-product {
  width: 320px;
  height: 425px;
  transform-style: preserve-3d;
  transition: transform 0s, box-shadow 0.3s;
}

.container-card-product:hover,
.container-card-product:active {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.container-card-product.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  /* margin: 20px; */
  
}

.card-back {
  /* background-color: black; */
  display: none;
  font-size: 14px;
  /* padding: 10px; */
  width: 320px;
  height: 425px;
  border: 2px solid white;
}

.card-back-content {
  transform: rotateY(-180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 40px; */
  /* background-color: red; */
  height: 100%;
  /* margin: 5px; */
  /* color: white; */
  border-radius: 16px;
}

.container-card-product.flipped .card-front {
  display: none;
}

.container-card-product.flipped .card-back {
  display: block;
}

.title-card-product {
  font-size: 16px;
  text-align: center;
  /* color: white */
}

.img-product {
  width: 100%;
  border-radius: 10px;
}