.container-card-product {
    border: 1px solid black;
    margin: 10px;
    border-radius: 7px;
    width: 100%;
    height: 402px;
    max-width: 234px;
    transition: transform 0.8s ease, opacity 0.8s ease;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}

/* -------------------------------------- */

.container-card-product.flipped {
    transform: rotateY(180deg);
}

.card-front {
    border-radius: 7px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.text-img {
    background-color: #000;
    padding: 5px 45px 0;
    border-radius: 7px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-family: "Rajdhani", sans-serif;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    line-height: 30px;
}

.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

.fill {
    --color: #f5cd10;
    --hover: #f5cd10;
}

.btn {
    -webkit-transition: 0.9s;
    transition: 1.5s;
    cursor: pointer;
    color: #fff;
}

.text-img:active {
    background-color: var(--hover);
    color: #fff;
}

.card-back {
    display: none;
    height: 400px;
    padding: 0 12px;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateY(180deg);
}
.title-card-product {
    font-weight: 700;
}
.card-back-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
}
.container-card-product.flipped .card-front {
    display: none;
}

.container-card-product.flipped .card-back {
    display: flex;
}

.img-product {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
}
