
.list-element{
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    line-height: 25px;
}

.icon-list{
    width: 22px;
    margin-right: 8px;
}

.icon-list-map{
    margin-right: 10px;
    width: 20px;
    height: 17px;
}




