.footer-movil {
    /* background-color: #F5CD10; */
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-text {
    padding: 10px;
}

@media (min-width: 750px) {
 
}