.conatiner-icons {
    padding: 30px 0;
    color: #faf9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    padding: 20px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bx-map,
.bx-world,
.bxs-truck {
    font-size: 3.5rem;
    color: #000;
    border-radius: 50%;
    padding: 18px;
    border: 3px solid #f5cd10;
}

.text-icon-home {
    color: #000;
}
.text-icon-home,
.span-icon-home {
    text-align: center;
    font-size: 1.2rem;
    font-family: "Rubik", sans-serif;
}

.span-icon-home {
    /* color: #f5cd10;
     */
    font-weight: 700;
}

@media (min-width: 750px) {
    .conatiner-icons {
        flex-direction: row;
    }
}
