.conatiner-icons {
    padding: 40px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bx-map,
.bx-world,
.bxs-truck {
    font-size: 3.5rem;
    color: #555;
}

.text-icon-home,
.span-icon-home {
    text-align: center;
    font-size: 1.2rem;
}

.span-icon-home {
    color: #f5cd10;
}

@media (min-width: 750px) {
    .conatiner-icons {
        flex-direction: row;
    }
}
