.container-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.desktop-menu {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-menu a {
  font-size: 16px;
  text-decoration: none;
  margin: 0 10px;
  /* Espacio entre elementos del menú */
}

.container-logo {
    width: 125px;
    margin-left: 70px;
}

.logo {
  
    width: 100%;
}

.active-link {
  /* color: #abbaca; */
  border-bottom: 2px solid #F5CD10;
}

a{
  text-decoration: none;
}

a:visited{
  color: black;
}

a:hover, :active{
  color: #F5CD10;
}
.link:hover {
  color: #F5CD10;
}