/* Position and sizing of burger button */
.bm-burger-button {
    position: relative;
    width: 30px;
    height: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: black;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: grey;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 50px;
    width: 50px;
    background-color: #443f3f;
    border-radius: 50px;
    padding: 13px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: black;
    filter: invert(1);
}

.bm-menu-wrap {
    position: fixed;
    min-height: 100%;
    top: 0;
    left: 0;
}

/* General sidebar styles */
.bm-menu {
    background: #f2f2f2;
    padding: 8rem 1.5em 0;
    font-size: 1.8em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    padding: 0 2rem;
    text-align: center;
}

/* Individual item */
.bm-item {
    display: block;
}

/* Styling of overlay */
.bm-overlay {
    background: black;
    top: 0;
    left: 0;
}
