.container-values{
    /* background-color: red; */
    padding: 70px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.values{
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* background-color: green; */
}

.bx-like,
.bx-medal,
.bx-check-shield{
    font-size: 3.5rem;
    color: #555;
}

@media (min-width: 750px) {
    .container-values {
        flex-direction: row;
    }
}