.container-values {
    padding: 0 0 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.values {
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bx-like,
.bx-medal,
.bx-check-shield {
    font-size: 3.5rem;
    color: #000;
    border-radius: 50%;
    padding: 18px;
    border: 3px solid #f5cd10;
}

@media (min-width: 750px) {
    .container-values {
        flex-direction: row;
    }
}
